.carousel-inner img {
    width: 100%;
    height: 450px;
}

.carousel-caption {
    position: absolute;
    left: 45%;
    top: 60px;
    /* left: 15%; */
    letter-spacing: 2px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #1b3967;
    font-weight: bold;
    text-align: center;
}

div .slider-btn .btn-primary:hover {
    background: #1b3967 !important;

}

.slider-btn {
    padding-top: 20px;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #1b3967;
    border-radius: 50%;
    background-clip: padding-box;
    /* border-top: 10px solid transparent; */
    /* border-bottom: 10px solid transparent; */
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: flex-end;
    padding-left: 0;
    margin-right: 32.5%;
    margin-left: 32.5%;
    list-style: none;
}

/* ---------------------------------Responsive-------------------------------- */

@media (min-width: 991px) {
    .carousel-inner-title {
        font-size: 46px;
    }

    .home-carousel-span {
        color: #3b3730;
        font-size: 20px !important;
    }

}

@media (max-width: 991px) {
    .carousel-inner-title {
        font-size: 25px;
    }

    .home-carousel-span {
        color: #3b3730;
        font-size: 15px;
    }

}
/* --------------------------------------------------------------------------------------- */